*{
    margin: 0px;
    padding: 0px;
}
.menu{
    margin: 50px;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-container{
    display:flex;
    /* align-items: center; */
    justify-content: center;
    gap: 10px;

    padding: 20px
}
.filter-button{
    height: 30px;
    width: 70px;
    border-radius: 5px;
}
.section-center{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 10px;
}
.menu-item{
    display: flex;
    border: solid gray 2px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    /* padding: 5px; */
}
.menu-item ,img ,header,div,p,h4{
    padding: 3px;
}
.photo{
    height: 60%;
    width: 50%;
}